<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>503 Service Unavailable</title>
		<style>
			body {
				background: #F1F1F1;
			}
			.box {
				width: 35em;
				margin: 0 auto;
				font-family: Tahoma, Verdana, Arial, sans-serif;
				background: #FFF;
				padding: 8px 32px;
				box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
				margin-top: 80px;
				font-weight: 300;
			}
			.box h1 {
				font-weight: 300;
			}
		</style>
	</head>
	<body>
		<div class="box">
			<h1>{{ test1 }} Service Unavailable</h1>
			<p>您访问的网站或服务暂时不可用</p>
			<p>如果您是隧道所有者，造成无法访问的原因可能有：</p>
			<ul>
				<li>您访问的网站使用了内网穿透，但是对应的客户端没有运行。</li>
				<li>该网站或隧道已被管理员临时或永久禁止连接。</li>
				<li>域名解析更改还未生效或解析错误，请检查设置是否正确。</li>
			</ul>
			<p>如果您是普通访问者，您可以：</p>
			<ul>
				<li>稍等一段时间后再次尝试访问此站点。</li>
				<li>尝试与该网站的所有者取得联系。</li>
				<li>刷新您的 DNS 缓存或在其他网络环境访问。</li>
			</ul>
			<p align="right"><em>Powered by <a href="//jq.qq.com/?_wv=1027&k=1gxaBm9N">极客街社区</a> | Based on <a href="//ehang.io/nps">NPS</a></em></p>
		</div>
	</body>
</html>